import init.smdk4x12.usb.rc
import init.bt.rc
import init.carrier.rc
#import init.container.rc

on early-init
    mkdir /efs 0771 radio system
    mkdir /tombstones

on init

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/extSdCard 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveA 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveB 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveC 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveD 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveE 0700 media_rw media_rw
    mkdir /mnt/media_rw/UsbDriveF 0700 media_rw media_rw

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/shell/container 0700 system system
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /mnt/shell/container /storage/container

    export SECONDARY_STORAGE /storage/extSdCard
    mkdir /storage/extSdCard 0555 root root

    # map "real" external storages paths also in same way. backwards compatibility.
    symlink /storage/extSdCard /mnt/extSdCard
    symlink /storage/UsbDriveA /mnt/UsbDriveA
    symlink /storage/UsbDriveB /mnt/UsbDriveB
    symlink /storage/UsbDriveC /mnt/UsbDriveC
    symlink /storage/UsbDriveD /mnt/UsbDriveD
    symlink /storage/UsbDriveE /mnt/UsbDriveE
    symlink /storage/UsbDriveF /mnt/UsbDriveF

    export SECONDARY_STORAGE /storage/extSdCard
    
    mkdir /storage/extSdCard 0700 root root
    mkdir /storage/UsbDriveA 0700 root root
    mkdir /storage/UsbDriveB 0700 root root
    mkdir /storage/UsbDriveC 0700 root root
    mkdir /storage/UsbDriveD 0700 root root
    mkdir /storage/UsbDriveE 0700 root root
    mkdir /storage/UsbDriveF 0700 root root

    mkdir /efs 0771 radio system

# To store widevine keybox
    symlink /data/app /factory
    
    mkdir /preload 0771 system system 

    # Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 system system

on post-fs-data
    # we will remap this as /storage/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # make directory for DRM
    mkdir /data/app/mcRegistry 0755 root root

# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    setprop vold.post_fs_data_done 1

    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

    # for semco wifi module
#    mkdir /data/misc/dhcp 0777 dhcp dhcp
#    mkdir /data/misc/wifi/sockets 0777 wifi wifi
#    mkdir /data/system 0775 wifi wifi
#    mkdir /data/system/wpa_supplicant 0777 wifi wifi

    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0775 wifi system
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    mkdir /system/etc/wifi 0775 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf

    chown dhcp dhcp /data/misc/dhcp
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info
    mkdir /data/local 0751 root root

    mkdir /data/misc/radio 0775 radio system

    # Waketime for fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0660 /sys/devices/platform/mdm_hsic_pm0/waketime

 # permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0664 /data/.psm.info

    # for WIFI Cert
    chmod 0664 /data/.bustxglom.info
    chmod 0664 /data/.roamoff.info
    chmod 0664 /data/.frameburst.info
    chmod 0664 /data/.txbf.info

# Waketime fot fast dormancy
    chown system radio /sys/devices/platform/mdm_hsic_pm0/waketime
    chmod 0660 /sys/devices/platform/mdm_hsic_pm0/waketime

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance

# for AT distributor
    chown system radio /sys/module/cpuidle_exynos4/parameters/enable_mask
    chmod 0664 /sys/module/cpuidle_exynos4/parameters/enable_mask

# SISO-ANDR_PERF :: START Changing scheduler to noop during boot
    write /sys/block/mmcblk0/queue/scheduler noop
# SISO-ANDR_PERF :: END

    setprop ro.build.product smdk4x12
    setprop ro.product.device smdk4x12
    # setprop ro.radio.noril yes
    setprop ro.securestorage.knox true

# mobicore
    mkdir /data/app/mcRegistry 0775 system system
    chmod 0700 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user

# S.LSI secdrv mem
    chown system system /dev/s5p-smem
    chmod 0660 /dev/s5p-smem

# WIFI
    setprop wifi.interface wlan0

    symlink /dev/block/mmcblk0p7 /dev/block/param

# <Sensors & NFC>
# Input Events
    chown system radio /sys/class/input/input2/enable
    chown system radio /sys/class/input/input2/poll_delay
    chown system radio /sys/class/input/input3/enable
    chown system radio /sys/class/input/input3/poll_delay
    chown system radio /sys/class/input/input4/enable
    chown system radio /sys/class/input/input4/poll_delay
    chown system radio /sys/class/input/input5/enable
    chown system radio /sys/class/input/input5/poll_delay
    chown system radio /sys/class/input/input6/enable
    chown system radio /sys/class/input/input6/poll_delay
    chown system radio /sys/class/input/input7/enable
    chown system radio /sys/class/input/input7/poll_delay
    chown system radio /sys/class/input/input8/enable
    chown system radio /sys/class/input/input8/poll_delay
    chown system radio /sys/class/input/input9/enable
    chown system radio /sys/class/input/input9/poll_delay
# Accelerometer_sensor
    chown system radio /dev/accelerometer
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/input/input7/enable
    chown system radio /sys/class/input/input7/poll_delay
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /dev/lsm330dlc_gyro_misc
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/input/input5/pressure_reference_level
    chown system radio /sys/class/input/input5/temperature_reference_level
    chown system radio /sys/class/input/input5/enable_autozero
    chown system radio /sys/class/input/input5/compensation_param
    chown system radio /sys/class/input/input5/reg_value
    chown system radio /sys/class/input/input5/reg_addr
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
    chown system radio /dev/akm8963
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay

# Permissions for Barcode Emul
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_init_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/check_sleep_detail
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinfo_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check

# NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

# create data/gps for GPS daemon
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

# make sure data_system dir and perms are properly set
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps

# delete gps Factory file
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

# Vibetonz
    chmod 0660 /dev/tspdrv
    chown system system /dev/tspdrv

on fs
    mount_all /fstab.smdk4x12
    setprop ro.crypto.fuse_sdcard true

# for LogMeIn
    mount ext4 /dev/block/mmcblk0p13 /system rw wait noatime remount

    chown graphics /system/bin/RescueStarter
    chmod 0755 /system/bin/RescueStarter
    chown graphics /system/bin/RescueServer
    chmod 0755 /system/bin/RescueServer

    mount ext4 /dev/block/mmcblk0p13 /system ro wait noatime remount
#MDM requirement
    mkdir /data/cp_log
    chmod 0775 /data/cp_log
    chown system radio /data/cp_log

    mkdir /dev/block/modem
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs1 /dev/block/modem/m9kefs1
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs2 /dev/block/modem/m9kefs2
    symlink /dev/block/platform/dw_mmc/by-name/m9kefs3 /dev/block/modem/m9kefs3
    symlink /dev/block/platform/dw_mmc/by-name/ /dev/block/modem/dump_path
    chown system radio /dev/block/modem/m9kefs1
    chmod 0775 /dev/block/modem/m9kefs1
    chown system radio /dev/block/modem/m9kefs2
    chmod 0775 /dev/block/modem/m9kefs2
    chown system radio /dev/block/modem/m9kefs3
    chmod 0775 /dev/block/modem/m9kefs3
    chown system radio /dev/block/modem/dump_path
    chmod 0775 /dev/block/modem/dump_path

    mkdir /firmware 0771 system system
    mount vfat /dev/block/mmcblk0p10 /firmware ro shortname=lower fmask=0133,dmask=0022
    chown system system /tombstones
    chmod 0775 /tombstones
    mkdir /tombstones/modem 0775 system system
    mkdir /tombstones/lpass 0775 system system
    mkdir /tombstones/wcnss 0775 system system
    mkdir /tombstones/dsps 0775 system system
    rmdir /tombstones/qcks
    mkdir /tombstones/qcks 771 system system
    rmdir /tombstones/efs
    mkdir /tombstones/efs 771 system system

    chown system radio /dev/block/platform/dw_mmc/by-name
    chmod 0775 /dev/block/platform/dw_mmc/by-name

# Permissions for DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/gpu_lock
    chown radio system /sys/devices/system/cpu/busfreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/gpu_lock
    chmod 0660 /sys/devices/system/cpu/busfreq/min_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock

# MTP device permission
	chmod 0660 /dev/usb_mtp_gadget
	chown system system /dev/usb_mtp_gadget

# Permissions for Gscaler log level
    chmod 0666 /sys/module/gsc/parameters/gsc_dbg

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chown system system /sys/class/sec/sec_touchkey/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/graphics/fb0/lcdfreq/level

# Permissions for mDNIe
    chown system system /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system media_rw /sys/class/mdnie/mdnie/outdoor

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

    # copy DRM binary
    copy /system/app/mcRegistry/00060308060501020000000000000000.tlbin /data/app/mcRegistry/00060308060501020000000000000000.tlbin
    copy /system/app/FFFFFFFF000000000000000000000001.drbin /data/app/FFFFFFFF000000000000000000000001.drbin
    copy /system/app/SAMSUNG_EXYNOS4X12_000000000001.kbox /data/app/SAMSUNG_EXYNOS4X12_000000000001.kbox
    copy /system/app/ecm.dat /data/app/ecm.dat
    copy /system/app/emm.dat /data/app/emm.dat
    copy /system/app/wv_test /data/app/wv_test

    chmod 0555 /data/app/FFFFFFFF000000000000000000000001.drbin
    chmod 0555 /data/app/mcRegistry/00060308060501020000000000000000.tlbin

on post-fs
    chown radio system /efs
    chmod 0771 /efs

on post-fs-data

#QCRIL

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

# SISO-ANDR_PERF :: START Changing scheduler to cfq and reseting cpu min freq to -1 after boot complete
on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pegasusq
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/power/cpufreq_min_limit -1
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb3/accept_ra 2
# SISO-ANDR_PERF :: END
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chown radio system /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/cpucore_table
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/max_cpu_lock
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/min_cpu_lock
    chmod 0660 /sys/devices/system/cpu/cpufreq/pegasusq/hotplug_lock


# umount service
#service umount_service /system/bin/umount /preload
#   disabled
#   oneshot

#on property:persist.sys.storage_preload=1
#   mount ext4 /dev/block/mmcblk0p14 /preload nosuid nodev noatime wait ro
#   setprop storage.preload.complete 1

#on property:persist.sys.storage_preload=0
#    start umount_service

## Daemon processes to be run by init.
##
service ueventd /sbin/ueventd
    class core
    critical

service console /system/bin/sh
    class core
    console
    disabled
    group log

on property:ro.debuggable=1
    start console

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p3 \
            /dev/block/mmcblk0p4
    class core
    user root
    group root
    oneshot

# underlying files in /data/media will be created with user and group media_rw (1023)
# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l -r /data/media /mnt/shell/emulated
    class late_start
    oneshot

service fuse_extSdCard /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d -f /mnt/media_rw/extSdCard /storage/extSdCard
    class late_start
    disabled
    oneshot

service fuse_UsbDriveA /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveA /storage/UsbDriveA
    class late_start
    disabled
    oneshot

service fuse_UsbDriveB /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveB /storage/UsbDriveB
    class late_start
    disabled
    oneshot

service fuse_UsbDriveC /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveC /storage/UsbDriveC
    class late_start
    disabled
    oneshot

service fuse_UsbDriveD /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveD /storage/UsbDriveD
    class late_start
    disabled
    oneshot

service fuse_UsbDriveE /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveE /storage/UsbDriveE
    class late_start
    disabled
    oneshot

service fuse_UsbDriveF /system/bin/sdcard -u 1023 -g 1023 -d -f /mnt/media_rw/UsbDriveF /storage/UsbDriveF
    class late_start
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -O/data/misc/wifi/sockets -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -puse_multi_chan_concurrent=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
   socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -g@android:wpa_wlan0 \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class late_start
    user root
    group radio log

# diag app for cp uart
service diag_uart_log /system/bin/diag_uart_log
    class main
    user root
    group radio

# TVout
service TvoutService_C /system/bin/bintvoutservice
     class main
     user system
     group system
on property:ro.tvout.enable=false
    stop TvoutService_C

service cpboot-daemon /sbin/cbd -d -p10
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r
    seclabel u:r:cbd:s0
# mobicore
service mcDriverDaemon /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin  -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin
    class core
    user system
    group system

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user system
    group system
    oneshot

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0

#for WiFi MFG(TestMode)
service mfgloader /system/bin/mfgloader
	class main
	disabled
	oneshot

service wlandutservice /system/bin/wlandutservice
	class main
	user system
	group wifi net_raw net_admin system inet
	disabled
	oneshot

service macloader /system/bin/macloader
	class main
	disabled
	oneshot

on property:sys.mobicoredaemon.enable=true
	start macloader

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0664 /data/.cid.info
    chown system root /data/.rev
    chmod 0660 /data/.rev
# end of wifi

#QCRIL
service netmgrd /system/bin/netmgrd
    class late_start

service qc_kickstart /system/bin/qcks s
    class core
    user root
    group radio cache inet misc audio sdcard_rw log

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw sdcard_r
    onrestart restart cpboot-daemon

#sensorhubservice start
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

service secril-daemon /system/bin/sec-ril
    class main
    user root
    group radio cache inet misc audio sdcard_rw diag log

#For EncryptionMode - remove disabled, Modify class main
service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio

service qmuxd /system/bin/qmuxd
    class main
    user root
    group radio log audio bluetooth log

on property:ro.use_data_netmgrd=false
#netmgr not supported on specific target
    stop netmgrd

# for LogMeIn
    service RescueStarter /system/bin/RescueStarter
    class core
    user graphics
    group input graphics

# Bluetooth LE 2 wired Test
service LE_dut_cmd_on /system/bin/bttestintf enable
    group bluetooth net_bt_admin
    disabled
    oneshot

service LE_dut_cmd_off /system/bin/bttestintf disable
    group bluetooth net_bt_admin
    disabled
    oneshot

service bttestdaemon /system/bin/bttestd
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# bluetooth dhcp config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

# SA, System SW, SAMSUNG
#service bugreport /system/bin/bugmailer.sh -v
#    class main
#    disabled
#    oneshot
#    keycodes 114 115 116

#service sdumpstate /system/bin/dumpstate -P
#    class main
#    disabled
#    oneshot

service ipruleset /system/bin/ipruleset
    class main
    group vpn net_admin inet net_raw
	disabled
    oneshot

on property:ro.dumpstate.dmesg=1
    write /proc/sys/kernel/dmesg_restrict 0

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
    class main
    user root
    disabled
    oneshot

# start for TZPR provisioning version check app
on property:sys.mobicoredaemon.enable=true
    start scranton_RD

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:ro.securestorage.knox=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage
	
# LPM
on property:ro.bootmode=charger
    mount ext4 /dev/block/mmcblk0p13 /system wait ro

on property:ro.bootmode=charger
    class_start sec-charger

service playlpm /system/bin/lpm
    class sec-charger
    critical

service DR-daemon /system/bin/ddexe
    class main
    user root
    group system radio inet net_raw

service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw

service BCS-daemon /system/bin/connfwexe
    class main
    user root
    group system radio inet net_raw
	
#NPSMOBEX
service mobex-daemon /system/bin/npsmobex
    class main
    user system
    group system radio inet sdcard_r sdcard_rw media_rw shell
